<mat-card class="register-container">
  <h4 class="form title">Registro</h4>
  <form [formGroup]="registerForm" novalidate (ngSubmit)="handleSubmit()">
    <!-- INPUTS -->
    <div class="flex center column">
      <mat-form-field>
        <input type="text" matInput placeholder="Digite o nome" formControlName="name">
      </mat-form-field>
      <mat-form-field>
        <input type="email" matInput placeholder="Digite o e-mail" formControlName="email">
        <mat-error *ngIf="registerForm.get('email').hasError('unique')">
          E-mail já existe 
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput placeholder="Digite a senha" formControlName="password">
        <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
        <mat-error *ngIf="registerForm.get('password').hasError('invalidPassword')">
          Senhas não combinam
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput placeholder="Confirme a senha" formControlName="confirmPassword">
        <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
        <mat-error *ngIf="registerForm.get('confirmPassword').hasError('invalidPassword')">
          Senhas não combinam
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Data de nascimento" formControlName="birth">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="year" ></mat-datepicker>
      </mat-form-field>
      <div fxLayout="column" class="mat-typography">
        <span fxLayoutAlign="center">Escolha a carga horária máxima diária</span>
        <span class="mat-body-2" style="font-size: 18px;" fxLayoutAlign="center">{{ slider.value + ':00 h' }}</span>
        <mat-slider formControlName="workload" matInput min="1" max="24" #slider></mat-slider>
      </div>

    </div>
    <!-- BUTTONS -->
    <div class="flex row center">
      <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid" class="btn register-color">
        Enviar
      </button>
      <button mat-raised-button color="warn" type="reset" class="btn">
        Limpar
      </button>
    </div>

  </form>
</mat-card>